.footer {
	background-color: #0e0e0e;
	display: flex;
	flex-direction: column;
}
.copyright {
	min-height: 3vh;
	color: var(--font-color-main);
	font-family: var(--font-family-main);
	background-color: #000000;
	display: flex;
	align-items: center;
	& > p {
		margin-inline-start: calc(var(--index));
	}
}
.FooterContainer {
	max-width: 1600px;
	margin: 0 auto;
	padding: calc(var(--index)) 0;
	display: flex;
	justify-content: center;
}
.mainBox {
	display: flex;
	min-height: 20vh;
	color: var(--font-color-main);
	font-family: var(--font-family-main);
	flex-direction: row;
}
.link {
	text-decoration: none;
	color: var(--font-color-main);
	font-size: var(--font-size-m);
}
.options {
	display: flex;
	flex-direction: row;
}
.optionsCol {
	display: flex;
	flex-direction: column;
	justify-content: center;
	> * {
		margin: calc(var(--index) * 0.2);
		list-style: none;
	}
}
