.contactSection {
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.innerBox {
	width: 80%;
	height: 90%;
	display: flex;
	flex-direction: column;
	gap: calc(var(--index));
}

.phoneIcon {
	border-radius: 50%;
	font-size: var(--font-size-l);
}

.emailIcon {
	border-radius: 7px;
	font-size: var(--font-size-xl);
}

.phones,
.email {
	gap: calc(var(--index));
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	transition: 0.3s;
}
