.contactSection {
	width: 100%;
	min-height: 50vh;
	padding: calc(var(--index) * 2) 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.innerBox {
	width: 80%;
	height: 90%;
	display: flex;
	flex-direction: row;
	gap: calc(var(--index));
}

.contactBox {
	display: flex;
	flex-direction: column;
	gap: calc(var(--index));
}

.phoneIcon {
	border-radius: 50%;
	font-size: var(--font-size-l);
}

.emailIcon,
.linkIcon {
	border-radius: 7px;
	font-size: var(--font-size-xl);
}

.phones,
.email,
.socialNetwork {
	gap: calc(var(--index));
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	transition: 0.3s;
}

.socialNetwork {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
}

.links {
	height: calc(var(--index) * 4);
	width: calc(var(--index) * 14);
	position: relative;
	display: flex;
	align-items: center;
}

.instagram,
.telegram,
.youtube,
.whatsApp,
.vkontakte {
	transition: 0.3s;
	display: flex;
	position: absolute;
	width: calc(var(--index) * 4);
	height: calc(var(--index) * 4);
	align-items: center;
	justify-content: center;
	font-size: calc(var(--font-size-xl) * 1.2);
	color: var(--font-color-main);
	cursor: pointer;
}

.telegram {
	transition: opacity 0.4s ease-in-out, left 0.4s ease-in-out, scale 0.2s,
		filter 0.2s;
}

.instagram {
	transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out, scale 0.2s,
		filter 0.2s;
}

.whatsApp {
	transition: opacity 0.6s ease-in-out, scale 0.2s, filter 0.2s;
}

.vkontakte {
	transition: opacity 0.2s ease-in-out, scale 0.2s, filter 0.2s;
}

.telegram:hover {
	color: #5ab3ce;
}

.instagram:hover {
	color: #cc2366;
}

.youtube:hover {
	color: #bb4141;
}

.whatsApp:hover {
	color: #1deb2b;
}

.vkontakte:hover {
	color: #276090;
}

.youtube:hover,
.instagram:hover,
.telegram:hover,
.whatsApp:hover,
.vkontakte:hover {
	scale: 1.05;
}

@media (max-width: 700px) {
	.innerBox {
		width: 90%;
	}
}

@media (max-width: 400px) {
	.innerBox {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.contactBox {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.phones,
	.email,
	.socialNetwork {
		flex-direction: column;
	}
}
