.webSiteCard {
	border-radius: 7px;
	margin: calc(var(--index) * 2);
	max-height: 703px;
	background-color: var(--color-frame-main);
	box-shadow: inset 0 0 7px 0 var(--color-frame-shadow);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	transition: 0.3s;
	min-width: 320px;
	min-height: 600px;
}

.innerBox {
	width: 98%;
	height: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.topBox {
	width: 90%;
	display: flex;
	justify-content: space-between;
	padding-block-end: calc(var(--index) * 0.7);
	transition: 0.3s;
}

.titleAndDescription {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.title {
	font-size: var(--font-size-l);
	color: var(--font-color-main);
	font-family: var(--font-family-heading);
}

.description {
	margin: calc(var(--index) * 0.6) 0;
	font-family: var(--font-family-main);
	font-size: var(--font-size-m);
	color: var(--font-color-secondary);
}

.sitePicWrapper {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	box-shadow: 0 0 7px 0 var(--color-frame-shadow);
	background-color: var(--color-main);
	border-radius: 7px;
}

.sitePicWrapper::-webkit-scrollbar {
	width: 0;
}

.changeModeBtn {
	font-size: var(--font-size-xl);
	max-width: 100px;
	max-height: 100px;
}

.sitePic {
	width: 100%;
	height: auto;
}

.phoneMode {
	height: 85vh;
	width: 40%;
}

.desktopMode {
	height: 40vh;
	width: 60%;
}

@media (max-width: 900px) {
	.phoneMode {
		width: 60%;
	}
}

@media (max-width: 320px) {
	.webSiteCard {
		min-width: 240px;
	}
}
