.letterColumn {
	display: flex;
	flex-direction: column;
	position: relative;
	font-size: var(--font-size-l);
	color: var(--font-color-main);
	font-family: monospace;
}
.letter {
	user-select: none;
	line-height: calc(var(--font-size-l) * 1.2);
}
