.letterColumn {
	display: flex;
	flex-direction: column;
	position: relative;
	font-size: calc(var(--font-size-m) * 1.5);
	color: var(--font-color-main);
	font-family: monospace;
}
.letter {
	user-select: none;
	line-height: calc(var(--font-size-m) * 1.8);
}
