.dynamicIcon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.innerBox {
	width: 50%;
	text-align: center;
	font-size: var(--font-size-m);
	// filter: blur(1px);
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently */
	transition: 0.2s;
}
.iconLine {
	white-space: pre;
	font-family: var(--font-family-script);
	// color: var(--font-color-main);
	color: #35f13f;
}

// .innerBox:hover {
// 	filter: blur(0px);
// 	scale: 1.05;
// }
