.heading {
	display: flex;
	justify-content: flex-start;
	width: 90%;
	margin: 20px auto;
}

.headingWrapper {
	width: auto;
	height: 100%;
	padding: 30px 50px;
	min-width: 40%;
	border-radius: 7px;
	gap: 5px;
}

.divider {
	height: 5px;
	width: 100%;
	background-color: var(--font-color-secondary);
}

.headingText {
	font-size: var(--font-size-l);
	color: var(--font-color-main);
	font-family: var(--font-family-heading);
}

@media (max-width: 1000px) {
	.heading {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.heading {
		margin: 0;
	}
}
