.verticalProgressBar {
	height: 130vh;
	min-height: 764px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.innerBox {
	width: 80%;
	height: 90%;
	display: flex;
	flex-direction: row;
}

.leftColumn,
.rightColumn {
	padding: 10px 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
	& > * {
		flex: 1;
	}
}

.leftColumn {
	flex: 1;
}

.rightColumn {
	flex: 1;
}

.barLine {
	width: 10px;
	height: 100%;
	background-color: var(--color-frame-main);
	border-radius: 7px;
	overflow: hidden;
}

.activeBarLine {
	width: 100%;
	background-color: var(--font-color-code);
	border-radius: 7px;
}

.point {
	position: relative;
	text-align: end;
	color: var(--font-color-main);
	font-family: var(--font-family-main);
	padding: 10px;
}

.heading {
	font-family: var(--font-family-heading);
	font-size: var(--font-size-m);
	transition: 0.3s;
}

.subText {
	color: var(--font-color-secondary);
	font-size: calc(var(--font-size-m));
	transition: 0.3s;
}

.icon {
	font-size: var(--font-size-l);
	display: flex;
	top: 0;
	position: absolute;
	width: 70px;
	height: 70px;
	background-color: var(--color-frame-main);
	box-shadow: inset 0 0 7px 0 var(--color-frame-shadow);
	border-radius: 7px;
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	overflow: hidden;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transition: 0.5s;
}

.text {
	color: var(--font-color-main);
	font-family: var(--font-family-main);
	padding: 10px;
}

.description {
	color: var(--font-color-secondary);
	font-size: calc(var(--font-size-m));
}

@media (max-width: 500px) {
	.leftColumn,
	.rightColumn {
		padding: 20px 10px;
	}
	.innerBox {
		width: 95%;
	}
}

@media (max-width: 400px) {
	.leftColumn,
	.rightColumn {
		padding: 10px 5px;
	}
	.innerBox {
		width: 100%;
	}
	.icon {
		width: 40px;
		height: 40px;
	}
	.point {
		padding: 0 10px;
	}
}

@media (max-width: 300px) {
	.leftColumn,
	.rightColumn {
		padding: 0;
	}

	.barLine {
		display: none;
	}
}
