.innerBox {
	width: 95%;
	height: 95%;
	display: flex;
	flex-direction: column;
	padding: 20px 0;
	background-color: var(--color-frame-main);
	box-shadow: inset 0 0 7px 0 var(--color-frame-shadow);
	border-radius: 7px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	overflow: hidden;
	position: relative;
}
.ServiceTab {
	height: 100vh;
	justify-content: center;
	align-items: center;
	position: relative;
	box-shadow: inset 0px 0px 20px 1px #000;
	margin: 2% 0;
	padding: 0 5%;
	width: 100%;
	display: flex;
	flex-direction: row;
	transition: 0.5s;
	border-top: solid 5px;
	border-bottom: solid 5px;
	border-color: rgb(84 84 84);
	position: relative;
}

.backGround {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(https://imgbly.com/ib/WAvj5r4RVJ.gif);
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
}

.contentBox {
	padding: 10px 20px;
	overflow-y: scroll;
}

.contentBox::-webkit-scrollbar-track {
	background-color: transparent; /* цвет плашки */
}

.paragraph {
	&Heading {
		text-align: center;
		font-size: var(--font-size-l);
		color: var(--font-color-main);
		font-family: var(--font-family-heading);
	}

	&Text {
		text-indent: 30px;
		margin: 10px 0;
		font-size: var(--font-size-sm);
		color: var(--font-color-main);
		font-family: var(--font-family-main);
	}

	&List {
		display: flex;
		list-style: inside;
		font-size: var(--font-size-sm);
		color: var(--font-color-main);
		font-family: var(--font-family-main);
		flex-wrap: wrap;
		flex-direction: row;
		& > * {
			padding: 15px;
			width: calc(50% - 10px);
			margin: 5px;
		}
	}
}

.listElement {
	& {
		background-color: var(--color-frame-main);
		box-shadow: inset 0 0 7px 0 var(--color-frame-shadow);
		border-radius: 8px;
	}

	&Heading {
		text-align: center;
		font-size: var(--font-size-m);
		color: var(--font-color-main);
		font-family: var(--font-family-heading);
	}

	&Description {
		text-indent: 30px;
		margin: 10px 0;
		font-size: var(--font-size-sm);
		color: var(--font-color-main);
		font-family: var(--font-family-main);
	}
}

@media (max-width: 500px) {
	.innerBox {
		width: 100%;
	}
}

@media (max-width: 700px) {
	.paragraphList {
		& > * {
			width: 100%;
		}
	}
}
