$steps: 20;

.container {
	text-align: center;
}

.glitch {
	position: relative;
	color: var(--font-color-main);
	font-family: var(--font-family-main);
	font-weight: bold;
	text-transform: uppercase;

	&::before,
	&::after {
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		color: var(--font-color-main);
		clip: rect(0, 900px, 0, 0);
	}

	&::before {
		right: 2px;
		text-shadow: 1px 0 green;
		animation: glitch-effect 3s infinite linear alternate-reverse;
	}

	&::after {
		left: 1px;
		text-shadow: -1px 0 red;
		animation: glitch-effect 2s infinite linear alternate-reverse;
	}
}

@keyframes glitch-effect {
	@for $i from 0 through $steps {
		#{percentage($i*(calc(1/$steps)))} {
			clip: rect(random(100) + px, 9999px, random(100) + px, 0);
		}
	}
}
