.droppingText {
	margin: 10px 0;
	font-size: var(--font-size-sm);
	color: var(--font-color-main);
	font-family: var(--font-family-main);
	padding: 20px;
	background-color: var(--color-frame-main);
	box-shadow: inset 0 0 7px 0 var(--color-frame-shadow);
	border-radius: 7px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.previewBox {
	display: flex;
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
}

.preview {
	font-weight: bold;
	width: 100%;
	cursor: pointer;
}

.iconWrapper {
	line-height: 0;
}

.text {
	overflow: hidden;
	position: relative;
	transition: 0.3s;
	width: 100%;
}
