.BurgerMenu {
	width: 50vw;
	height: 100%;
	position: fixed;
	transition: 0.3s;
	background-color: var(--color-secondary);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: inset 0 0 7px 0 var(--color-frame-shadow);
}
.innerBox {
	display: flex;
	justify-content: center;
	height: 90%;
	width: 80%;
	flex-direction: column;
	align-items: center;
}

.heading {
	color: var(--font-color-main);
	font-family: var(--font-family-heading);
	font-size: var(--font-size-xl);
	transition: 0.2s;
	margin: 0.4em 0;
}

.linkBox {
	width: fit-content;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.link {
	color: var(--font-color-secondary);
	font-family: var(--font-family-main);
	font-size: var(--font-size-l);
	transition: 0.2s;
	text-decoration: none;
}

.link:hover {
	scale: 1.075;
}

.divider {
	margin: 10px 6px 5px 0;
	border-radius: 7px;
	width: 40%;
	height: 3px;
	background-color: var(--font-color-secondary);
}
