.benefitCard {
	width: 90%;
	height: calc(var(--index) * 20);
	padding: calc(var(--index));
	transition: 0.2s;
}
.innerBox {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: calc(var(--index) * 2) 0;
	background-color: var(--color-frame-main);
	box-shadow: inset 0 0 7px 0 var(--color-frame-shadow), 0 0 7px 0px #000;
	border-radius: 7px;
	backdrop-filter: blur(5px);
	overflow: hidden;
	& > * {
		flex: 1;
	}
}
.textBox {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	margin-block-start: calc(var(--index) * 0.5);
	display: flex;
	justify-content: center;
	transition: 0.5s;
}
.textBoxInnerBox {
	width: 90%;
	color: var(--font-color-main);
	font-family: var(--font-family-main);
	font-size: var(--font-size-m);
}
.heading {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.letter {
	margin-block-start: calc(var(--index) * 1.5);
	font-family: var(--font-family-heading);
	display: inline-block;
	color: var(--font-color-main);
	font-size: var(--font-size-l);
	transition: 0.3s;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.flare {
	position: absolute;
	top: -50%;
	height: 200%;
	width: 200%;
	filter: blur(10px);
}

.innerBox:hover {
	.flare {
		animation: flareAnimation;
		left: -150%;
		background: var(--flare-gradient);
		animation: flareAnimation 1.3s 1 linear; // Время и тип анимации можно менять
	}
}

@keyframes flareAnimation {
	0% {
		left: -150%;
	}
	100% {
		left: 150%;
	}
}

.falling {
	transform: translateY(2em);
	opacity: 0;
	color: var(--font-color-code);
}

.iconWrapper {
	transition: 0.3s;
	filter: blur(1px);
}

.activeIcon {
	filter: blur(0px);
	scale: 1.05;
}

.contentBox {
	position: relative;
}

.appearingText {
	opacity: 1;
}

@media (max-width: 500px) {
	.benefitCard {
		width: 100%;
	}
}
