.aboutSection {
	width: 100%;
	min-height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.innerBox {
	width: 80%;
	display: flex;
	align-items: center;
	position: relative;

	& > * {
		flex: 1;
	}
}

.divider {
	height: 5px;
	background-color: var(--font-color-secondary);
	width: 50%;
}

.textWrapper {
	display: flex;
	flex-direction: column;
	gap: 15px;
	z-index: 2;
}

.textList {
	display: flex;
	gap: 15px;
	flex-direction: column;
	list-style-position: inside;
}

li::marker {
	color: var(--font-color-secondary);
}

.aboutText {
	color: var(--font-color-main);
	font-size: var(--font-size-m);
	font-family: var(--font-family-main);
}

.caret {
	font-weight: 900;
	animation: corret 0.75s infinite steps(1) forwards;
	color: var(--font-color-code);
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently */
}

.animationBox {
	aspect-ratio: 3 / 2;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.animation {
	width: 100%;
	height: 100%;
	background-image: url(/src/assets/animation.gif);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

@-webkit-keyframes corret {
	from {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (max-width: 800px) {
	.aboutSection {
		min-height: 40vh;
	}
}

@media (max-width: 1400px) {
	.animationBox {
		position: absolute;
		top: 0;
		left: 0;
		filter: blur(1px) brightness(0.7);
	}
}
