.aboutSection {
	width: 100%;
	min-height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

.innerBox {
	width: 80%;
	display: flex;
	& > * {
		flex: 1;
	}
}

@media (max-width: 800px) {
	.aboutSection {
		min-height: 40vh;
	}

	.innerBox {
		& > * {
			flex: auto;
		}
	}

	.imgBox {
		display: none;
	}
}
