body,
html {
	width: 100%;
	height: 100%;
	background-color: var(--color-main);
}

:root {
	--index: calc(1vw + 1vh); //попробовать переписать через vmin/vmax

	/* palette */
	--color-main: #000000;
	--color-secondary: #111111;

	--color-frame-main: rgb(107 107 107 / 15%);
	--color-frame-main-active: rgba(255, 255, 255, 0.1);
	--color-frame-shadow: rgba(255, 255, 255, 0.2);

	--font-color-main: #ffffff;
	--font-color-secondary: #acacac;
	--font-color-code: #75abff;
	--font-color-code-secondary: #547ab8;
	/* palette */

	/* font-families */
	--font-family-script: geoFont;
	--font-family-main: golos;
	--font-family-heading: visitor;
	--font-family-logo: RezaZulmiSans;
	--font-family-sunLogo: montserrat;
	/* font-families */

	/* font-sizes */
	--font-size-xs: calc(var(--index) * 0.3);
	--font-size-s: calc(var(--index) * 0.6);
	--font-size-sm: calc(var(--index) * 0.9);
	--font-size-m: calc(var(--index) * 1);
	--font-size-ml: calc(var(--index) * 1.5);
	--font-size-l: calc(var(--index) * 2);
	--font-size-xl: calc(var(--index) * 3);
	/* font-sizes */

	/* OTHER */
	--flare-gradient: linear-gradient(
		45deg,
		rgba(255, 255, 255, 0) 38%,
		var(--color-frame-shadow) 49%,
		rgba(255, 255, 255, 0) 60%
	);
	/* OTHER */
}

/* SCROLL */
*::-webkit-scrollbar {
	width: 6px; /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
	background-color: var(--color-main); /* цвет плашки */
}
*::-webkit-scrollbar-thumb {
	background: var(--font-color-code-secondary); /* цвет дорожки */
	border-radius: 8px; /* закругления плашки */
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--font-color-code-secondary) var(--color-main);
}
/* SCROLL */

/* COLOR OF SELECTION */
::selection {
	background: var(--font-color-code-secondary);
	color: var(--font-color-main);
	text-shadow: none;
}

::-moz-selection {
	background: var(--font-color-code-secondary);
	color: var(--font-color-main);
	text-shadow: none;
}
/* COLOR OF SELECTION */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* FONT FAMILIES */
@font-face {
	font-family: geoFont;
	src: url(./assets/fonts/geo_font/GeoFont/GeoFont-Regular.otf);
}
@font-face {
	font-family: golos;
	src: url(./assets/fonts/Golos_Text/static/GolosText-Regular.ttf);
}

@font-face {
	font-family: visitor;
	src: url(./assets/fonts/Visitor/Visitor.ttf);
}

@font-face {
	font-family: RezaZulmiSans;
	src: url(./assets/fonts/RezaZulmiSans.ttf);
}

@font-face {
	font-family: montserrat;
	src: url(./assets/fonts/Montserrat-Regular.otf);
}
/* FONT FAMILIES */

@media (max-width: 700px) {
	:root {
		--font-size-xs: calc(var(--index) * 0.3);
		--font-size-s: calc(var(--index) * 0.6);
		--font-size-sm: calc(var(--index) * 1.1);
		--font-size-m: calc(var(--index) * 1);
		--font-size-ml: calc(var(--index) * 1.5);
		--font-size-l: calc(var(--index) * 2);
		--font-size-xl: calc(var(--index) * 3);
	}
}

@media (max-width: 500px) {
	:root {
		--font-size-xs: calc(var(--index) * 0.3);
		--font-size-s: calc(var(--index) * 0.6);
		--font-size-sm: calc(var(--index) * 1.2);
		--font-size-m: calc(var(--index) * 1.2);
		--font-size-ml: calc(var(--index) * 1.5);
		--font-size-l: calc(var(--index) * 2);
		--font-size-xl: calc(var(--index) * 3);
	}
}
