.header {
	display: flex;
	position: fixed;
	left: 0;
	width: 100%;
	height: 5em;
	background-color: var(--color-frame-main);
	box-shadow: inset 0 0 7px 0 var(--color-frame-shadow);
	backdrop-filter: blur(3px);
	z-index: 10;
	animation: appearingHeader 1s ease-in-out 1;
	justify-content: space-between;
	transition: 0.3s;
}

.flare {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

.linkBox {
	margin-inline-end: calc(var(--index) * 2);
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 55%;
	justify-content: center;
	float: right;
}

.link {
	height: 100%;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: var(--font-color-main);
	font-family: var(--font-family-heading);
	font-size: var(--font-size-m);
	transition: 0.2s;
}

.pcDisplay {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.mobileDisplay {
	display: none;
	width: 100%;
	height: 100%;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.link:hover {
	scale: 1.075;
}

.openBurger {
	font-size: 3em;
	border: none;
	height: 100%;
	width: auto;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	color: var(--font-color-main);
	margin: 0 0.4em;
}

.header:hover {
	.flare {
		animation: flareAnimation;
		left: -150%;
		background: var(--flare-gradient);
		animation: flareAnimation 2s 1 linear;
	}
}

@keyframes flareAnimation {
	0% {
		left: -150%;
	}
	100% {
		left: 150%;
	}
}

@-webkit-keyframes appearingHeader {
	from {
		top: -5em;
	}

	to {
		top: 0;
	}
}

@media (max-width: 1000px) {
	.pcDisplay {
		display: none;
	}
	.mobileDisplay {
		display: flex;
	}
}
