.textField {
	color: var(--font-color-main);
	font-size: var(--font-size-m);
	font-family: var(--font-family-main);
}
.caret {
	font-weight: 900;
	animation: corret 0.75s infinite steps(1) forwards;
	color: var(--font-color-code);
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently */
}

@-webkit-keyframes corret {
	from {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
